<h1>Ordering of hungarian letters</h1>
<table id="persons" style="width:100%">
<thead>
<tr>
<th>New sort</th>
<th>Default sort</th>
</tr>
</thead>
<tbody>
<tr><td>varjú</td><td>varjú</td></tr>
<tr><td>vágány</td><td>vágány</td></tr>
<tr><td>vonat</td><td>vonat</td></tr>
<tr><td>Velence</td><td>Velence</td></tr>
<tr><td>vízvezeték-szerelő </td><td>vízvezeték-szerelő</td></tr>
<tr><td>gyékény</td><td>gyékény</td></tr>
<tr><td>gólya</td><td>gólya</td></tr>
<tr><td>Czene</td><td>Czene</td></tr>
<tr><td>Csete</td><td>Csete</td></tr>
<tr><td>Aladár</td><td>Aladár</td></tr>
<tr><td>Adél</td><td>Adél</td></tr>
<tr><td>abigél</td><td>abigél</td></tr>
<tr><td>Ádám</td><td>Ádám</td></tr>
<tr><td>ábel</td><td>ábel</td></tr>
<tr><td>Ágnes</td><td>Ágnes</td></tr>
<tr><td>bandi</td><td>bandi</td></tr>
<tr><td>Bálint</td><td>Bálint</td></tr>
<tr><td>Benő</td><td>Benő</td></tr>
<tr><td>Adám</td><td>Adam</td></tr>
<tr><td>Ádám</td><td>Ádám</td></tr>
<tr><td>menedék</td><td>menedék</td></tr>
<tr><td>mentő</td><td>mentő</td></tr>
<tr><td>máglya</td><td>máglya</td></tr>
<tr><td>miniszter</td><td>miniszter</td></tr>
<tr><td>mások</td><td>mások</td></tr>
<tr><td>műugró</td><td>műugró</td></tr>
<tr><td>mályva</td><td>mályva</td></tr>
<tr><td>mondat</td><td>mondat</td></tr>
<tr><td>alma</td><td>alma</td></tr>
<tr><td>élet</td><td>élet</td></tr>
<tr><td>irónia</td><td>irónia</td></tr>
<tr><td>egér</td><td>egér</td></tr>
<tr><td>ásás</td><td>ásás</td></tr>
<tr><td>üreges</td><td>üreges</td></tr>
<tr><td>úton</td><td>úton</td></tr>
<tr><td>űrbéli</td><td>űrbéli</td></tr>
<tr><td>unalmas</td><td>unalmas</td></tr>
<tr><td>írom</td><td>írom</td></tr>
<tr><td>ólomkatona</td><td>ólomkatona</td></tr>
<tr><td>őzike</td><td>őzike</td></tr>
<tr><td>olvashatatlan</td><td>olvashatatlan</td></tr>
<tr><td>öregember</td><td>öregember</td></tr>
<tr><td>q</td><td>Q</td></tr>
<tr><td>w</td><td>W</td></tr>
<tr><td>e</td><td>E</td></tr>
<tr><td>r</td><td>R</td></tr>
<tr><td>t</td><td>T</td></tr>
<tr><td>z</td><td>Z</td></tr>
<tr><td>u</td><td>U</td></tr>
<tr><td>i</td><td>I</td></tr>
<tr><td>o</td><td>O</td></tr>
<tr><td>p</td><td>P</td></tr>
<tr><td>ő</td><td>Ő</td></tr>
<tr><td>ú</td><td>Ú</td></tr>
<tr><td>ö</td><td>Ö</td></tr>
<tr><td>ü</td><td>Ü</td></tr>
<tr><td>ó</td><td>Ó</td></tr>
<tr><td>a</td><td>A</td></tr>
<tr><td>s</td><td>S</td></tr>
<tr><td>d</td><td>D</td></tr>
<tr><td>f</td><td>F</td></tr>
<tr><td>g</td><td>G</td></tr>
<tr><td>h</td><td>H</td></tr>
<tr><td>j</td><td>J</td></tr>
<tr><td>k</td><td>K</td></tr>
<tr><td>l</td><td>L</td></tr>
<tr><td>é</td><td>É</td></tr>
<tr><td>á</td><td>Á</td></tr>
<tr><td>ű</td><td>Ű</td></tr>
<tr><td>í</td><td>Í</td></tr>
<tr><td>y</td><td>Y</td></tr>
<tr><td>x</td><td>X</td></tr>
<tr><td>c</td><td>C</td></tr>
<tr><td>v</td><td>V</td></tr>
<tr><td>b</td><td>B</td></tr>
<tr><td>n</td><td>N</td></tr>
<tr><td>m</td><td>M</td></tr>
<tr><td>cs</td><td>Cs</td></tr>
<tr><td>dz</td><td>Dz</td></tr>
<tr><td>dzs</td><td>Dzs</td></tr>
<tr><td>gy</td><td>Gy</td></tr>
<tr><td>ly</td><td>Ly</td></tr>
<tr><td>ny</td><td>Ny</td></tr>
<tr><td>sz</td><td>Sz</td></tr>
<tr><td>ty</td><td>Ty</td></tr>
<tr><td>zs</td><td>Zs</td></tr>
  </tbody>
</table>
